.about{
    max-width:100%;
    margin: 0;
    padding: 0;
}
.abt-row{
    width: 100%;
    margin: 0;
}
.col1{
    background-color: rgb(51, 51, 51);
}

.col2{
    background-color: rgb(255, 255, 255);
}
.col{
    /* height: ; */
    padding: 50px;
    padding-right:90px;
}
.shork{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
p{
    line-height: 2;
}