.about{
    max-width:100%;
    margin: 0;
    padding: 0;
}
.abt-row{
    width: 100%;
    margin: 0;
}
.col1{
    background-color: red;
}

.col2{
    background-color: rgb(255, 255, 255);
}
.col{
    height: 30vw;
    padding: 40px;
    padding-right:90px;
}